/* .form {
    display: none;
} */

.showing {
    display: block;
}

textarea {
    height: 250px;
    width: 100%;
    padding: 12px;
    border: 3px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    resize: vertical;
    font-size: 1em;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.toc-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
  }
  
  .toc-button:hover {
    background-color: #ddd;
    color: black;
  }